<section class="sec-mv">
	<div class="mv-video">
		<img src="<%= RELATIVE_PATH %>img/bg-01.png" alt="Jx2Reborn">
	</div>
	<div class="mv-block">
		<h1 class="mv-block__heading">
			<img src="<%= RELATIVE_PATH %>img/mv-heading.png" alt="Jx2Reborn">
		</h1>
		<div class="mv-block__play">
			<img src="<%= RELATIVE_PATH %>img/play.png" alt="play">
		</div>
		<ul class="mv-block__option">
			<li class="mv-block__option-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-01.png" alt="Alpha test info" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-01-hv.png" alt="Alpha test info" class="img-02">
				</a>
			</li>
			<li class="mv-block__option-item">
				<a href="" class="c-btn__img">
					<img src="<%= RELATIVE_PATH %>img/btn-02.png" alt="Register now" class="img-01">
					<img src="<%= RELATIVE_PATH %>img/btn-02-hv.png" alt="Register now" class="img-02">
				</a>
			</li>
		</ul>
	</div>
</section>
<section class="sec-regitter">
	<div class="inner">
		<h2 class="heading-block">
			<img src="<%= RELATIVE_PATH %>img/heading-01.png" alt="Early Registration Rewards " >
		</h2>
		<div class="regitter">
			<div class="regitter-step">
				<div class="regitter-step__item">
					<img src="<%= RELATIVE_PATH %>img/step-01.png" alt="step 01" >
					<div class="regitter-step__block --form">
						<div class="regitter-step__form">
							<input type="text" class="form-control">
							<button class="regitter-step__form-sub c-btn__img">
								<img src="<%= RELATIVE_PATH %>img/btn-03.png" alt="Sign up" class="img-01">
								<img src="<%= RELATIVE_PATH %>img/btn-03-hv.png" alt="Sign up" class="img-02">
							</button>
						</div>
					</div>

				</div>
				<div class="regitter-step__item">
					<img src="<%= RELATIVE_PATH %>img/step-02.png" alt="step 02" >
					<div class="regitter-step__block">
						<div class="regitter-step__app">
							<div class="regitter-step__app-links">
								<a href="" target="_blank">
									<img src="<%= RELATIVE_PATH %>img/app.png" alt="App store" >
								</a>
								<a href="" target="_blank">
									<img src="<%= RELATIVE_PATH %>img/google.png" alt="Google play" >
								</a>
							</div>
							<div class="regitter-step__app-show">
								<div class="regitter-step__app-show-fill">
									<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img" >
								</div>
								<div class="regitter-step__app-show-txt">
									Mount Reward
									<span>Ben Xiao</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="regitter-step__item">
					<img src="<%= RELATIVE_PATH %>img/step-03.png" alt="step 03" >
					<div class="regitter-step__block">
						<div class="regitter-step__facebook">
							<div class="regitter-step__facebook-heading">
								<a href="" class="c-btn__img">
									<img src="<%= RELATIVE_PATH %>img/btn-04.png" alt="Facebook" class="img-01">
									<img src="<%= RELATIVE_PATH %>img/btn-04-hv.png" alt="Facebook" class="img-02">
								</a>
								<span>Claim Starter Reward</span>
							</div>
							<ul class="regitter-step__facebook-list">
								<li class="regitter-step__facebook-list-item">
									<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img" >
								</li>
								<li class="regitter-step__facebook-list-item">
									<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img" >
								</li>
								<li class="regitter-step__facebook-list-item">
									<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img" >
								</li>
								<li class="regitter-step__facebook-list-item">
									<img src="<%= RELATIVE_PATH %>img/item-01.png" alt="img" >
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>